<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Navbar</span>

    <ul class="nav navbar-nav ml-auto">
        <li><a class="nav-link" href="/login">Login</a></li>
    </ul>
</nav>
