<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Change password</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/user.css">
</head>
<body>

{{> _nav }}

<div class="container-fluid h-75">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <form class="form" method="POST">
                <label for="inputOldPassword" class="sr-only">Old Password</label>
                <input type="password" name="oldPassword" id="inputOldPassword"
                       class="form-control form-old-password"
                       placeholder="Old Password" autofocus>
                <label for="inputNewPassword" class="sr-only">New Password</label>
                <input type="password" name="newPassword" id="inputNewPassword"
                       class="form-control form-new-password"
                       placeholder="New Password" autofocus>
                <label for="inputConfirmNewPassword" class="sr-only">Confirm New Password</label>
                <input type="password" name="confirmNewPassword" id="inputConfirmNewPassword"
                       class="form-control form-confirm-new-password"
                       placeholder="Confirm New Password" autofocus>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Update password</button>
                {{#each messages}}
                    <div class="alert alert-{{this.type}} alert-dismissible fade show" role="alert">
                        {{this.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {{/each}}
            </form>
        </div>
    </div>
</div>

<script src="/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/jquery-slim.min.js"><\/script>')</script>
<script src="/popper.min.js"></script>
<script src="/bootstrap.min.js"></script>
</body>
</html>
